.header {
    width: 100vw;
    height: 60px;
    background-color: #20232a;
    display: flex;
}

.logo {
    width: 50px;
    vertical-align: middle;
    line-height: 60px;
}

.left-nav, .right-nav {
    margin-left: 20px;
    padding-top: 7px;

}
.left-nav a, .right-nav a {
    color: #fff;
    padding: 10px;
}